footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(248, 245, 245, 0.746);
    bottom: 0;
    position: fixed;
    width: 100%;
}
img{
    width: 100%;
    width: 40px;
    margin-left: 15px;
    
}
ul ,nav , li{
    
    padding: 10px;
    margin: 0;
}